html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

.clear
{
	clear: both;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.col_2
{
	width: 49.5%;
}

.col_3
{
	width: 33%;
}

.col_4
{
	width: 25%;
}

.col_6
{
	width: 16.5%;
}

.wrapper
{
	width: 100%;
}

.banner
{
	width: 100%;
	height: 700px;
	background: url('../img/bg.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
}

.overlay
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: relative;
}

header
{
	width: 96%;
	padding: 1% 2%;
	position: fixed;
	z-index: 1;
	transition: all 0.3s;
}

.on
{
	background: #fff;
	padding: 0.5% 2% 0%;
	border-bottom: #ccc solid 1px;
}


.logo
{
	width: 15%;
	transition: all 0.3s;
}

.logo img
{
	width: 100%;
	height: auto;
}

.menu_icon
{
	width: 3%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2%;
	cursor: pointer;
}

.menu_icon img
{
	width: 100%;
	height: auto;
}

.header_content
{
	width: 100%;
	text-align: center;
	margin-top: 10%; 
}

.header_content h1
{
	margin: 0;
	color: #fff;
	font-weight: 300;
	font-size: 2.5em;
}

.header_content h1 span
{
	font-weight: 600;
	font-size: 1.2em;
}

.learn_more
{
	width: 11%;
	background: transparent;
	border: #fff solid 2px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.1em;
	color: #fff;
	padding: 1% 0%;
	margin: 3% auto;
	transition: all 0.3s;
}

.learn_more:hover
{
	background: #fff;
	color: #0299c8;
}

.banner_img
{
	width: 60%;
	margin: 0 auto;
	position: absolute;
	bottom: -1%;
	left: 50%;
	transform: translateX(-50%);
}

.banner_img img
{
	width: 100%;
	height: auto;
}

.container
{
	width: 94%;
	padding: 2% 3%;
	text-align: center;
}

.container h2
{
	font-weight: normal;
	font-size: 2em;
	text-transform: uppercase;
	margin: 0;
}

.container p
{
	color: #666;
	font-size: 0.9em;
	font-style: italic;
	width: 80%;
	margin: 1% auto 0%;
}

.sub_container
{
	width: 100%;
	margin: 6% auto 4%; 
}

.icon_block, .plan, .promotion, .positive, .room, .ability
{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: #333 solid 2px;
	background: url('../img/basket.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	margin: 0 auto;
	transition: all 0.3s;
}

.sub_container h3
{
	text-transform: uppercase;
	font-weight: normal;
	transition: all 0.3s;
	font-size: 1em;
}

.benefit_content:hover .icon_block
{
	background: #0299c8 url('../img/basket_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover .plan
{
	background: #0299c8 url('../img/bulb_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover .promotion
{
	background: #0299c8 url('../img/promotion_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover .positive
{
	background: #0299c8 url('../img/positive_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover .room
{
	background: #0299c8 url('../img/room_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover .ability
{
	background: #0299c8 url('../img/ability_active.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
	border: #0299c8 solid 2px;
}

.benefit_content:hover h3
{
	color: #0299c8;
}

.plan
{
	background: url('../img/bulb.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
}

.promotion
{
	background: url('../img/promotion.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
}

.positive
{
	background: url('../img/positive.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
}

.room
{
	background: url('../img/room.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
}

.ability
{
	background: url('../img/ability.svg') no-repeat;
	background-position: center;
	background-size: 50% auto;
}

.section a
{
	width: 25%;
	overflow: hidden;
}

.benefits_sub_product_block, .product, .sme, .map
{
	background: url('../img/bg1.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	overflow: hidden;
	width: 100%;
	transition: all 0.3s;
}

.benefits_sub_product_block:hover, .product:hover, .sme:hover, .map:hover
{
	transform: scale(1.2) rotate(0.1deg);
}

.product
{
	background: url('../img/bg2.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.sme
{
	background: url('../img/bg3.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.map
{
	background: url('../img/bg4.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.section
{
	width: 100%;
	margin-bottom: 5%;
	height: 200px;
	overflow: hidden;
}

.benefits_sub_product_content
{
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.benefits_sub_product_icon
{
	width: 17%;
	margin: 0 auto;
}

.benefits_sub_product_icon img
{
	width: 100%;
	height: auto;
}

.benefits_sub_product_content h3
{
	text-align: center;
	font-size: 1.3em;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	padding-top: 4%;
}

.sales_content_container
{
	width: 100%;
	padding: 5% 0% 0%;
}

.sales_content_left
{
	width: 28%;
}

.sales_content_left img
{
	width: 100%;
	height: auto;
}

.sales_content_right
{
	width: 68%;
	padding-top: 11%;
}

.sales_content
{
	width: 48%;
	margin-bottom: 15%;
}

.sales_content:hover h2
{
	color: #0299c8;
}

.sales_content:hover p
{
	color: #0299c8;
}

.sales_content_icon
{
	width: 12%;
}

.sales_content_icon img
{
	width: 100%;
	height: auto;
}

.sales_content h2
{
	font-weight: 600;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: left;
	padding-top: 3%;
	transition: all 0.3s;
}

.sales_content p
{
	font-size: 0.9em;
	color: #666;
	text-align: left;
	font-style: normal;
	width: 100%;
	padding-top: 3%;
	transition: all 0.3s;
}

#promotions
{
	background: #171b1e;
}

#promotions h2, #promotions p
{
	color: #fff;
}

.promotions_block
{
	margin-top: 5%;
	width: 48%;
}

.promotion_icon_block
{
	width: 60px;
	height: 60px;
	border: #0299c8 solid 2px;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
}

.promotion_icon
{
	width: 55%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-46%);
}

.promotion_icon img
{
	width: 100%;
	height: auto;
}

.promotions_block h3
{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.2em;
}

.promotions_block_devider
{
	width: 10%;
	height: 1px;
	margin: 0 auto;
	background: #0299c8;
	margin-bottom: 3%;
}

.promotions_block p
{
	font-size: 0.9em;
	text-align: center;
	color: #fff;
	width: 100%;
}

#contact
{
	margin-top: 3%;
}

.contact_content_container
{
	width: 60%;
	padding-top: 3%;
	margin: 0 auto;
}

.col_field
{
	width: 49%;
}

.contact_content_container input
{
	width: 94%;
	padding: 3.5% 3%;
	border: #ccc solid 1px;
	font-size: 1em;
	color: #333;
	border-radius: 3px;
	margin-bottom: 5%;
}

.contact_content_container textarea
{
	width: 96%;
	padding: 2% 2%;
	border: #ccc solid 1px;
	font-size: 1em !important;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	border-radius: 3px;
	margin-bottom: 3%;
}

.submit_btn
{
	width: 100%;
	padding: 2% 0%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background: #0299c8;
	border-radius: 3px;
	text-transform: uppercase;
	transition: all 0.3s;
}

.submit_btn:hover, .submit_btn:focus, .submit_btn:active
{
	background: #01789d;
}

footer
{
	background: #171b1e;
	padding: 1% 2%;
	width: 96%;
	margin-top: 3%;
}

.footer_left
{
	font-size: 0.9em;
	color: #888;
}

a
{
	text-decoration: none;
	color: inherit;
}